{% extends '/base.html.twig' %}
{% block title %}Créez un nouveau personnage{% endblock %}

{% block main %}
    <a href="{{ path('show_playable_characters') }}">Back</a>
    <h2>Création de personnage</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.title) }}
    {{ form_row(form.currentLevel) }}
    {{ form_row(form.healthPoints) }}
    {{ form_row(form.maxHealthPoints) }}

    {{ form_row(form.submit, { 'label': 'Créer' }) }}
    {{ form_end(form) }}

{% endblock %}