{% extends '/base.html.twig' %}
{% block title %}Select a character{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Retour</a>
    <h2>Choisissez votre personnage</h2>

    {% for playableCharacter in playableCharacters %}
        <li>{{ playableCharacter.name }} {{ playableCharacter.lastName }}, {{ playableCharacter.title }}
            <a href="{{ path('show_playable_character', {'id': playableCharacter.id}) }}"> >>>>> </a> </li>
    {% endfor %}

    <a href="{{ path('create_playable_character') }}">Créer un nouveau personnage</a>
{% endblock %}