{% extends '/base.html.twig' %}
{% block title %}Fiche de {{ playableCharacter.name }}{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Retour</a>
    <h2>Voici votre personnage</h2>

    <ul>
        <li>Nom : {{ playableCharacter.lastName }}</li>
        <li>Prénom : {{ playableCharacter.name }}</li>
        <li>Classe : {{ playableCharacter.title }}</li>
        <li>Niveau : {{ playableCharacter.currentLevel }}</li>
        <li>Points de vie : {{ playableCharacter.healthPoints }} / {{ playableCharacter.maxHealthPoints }}</li>
    </ul>
{% endblock %}