{% extends 'base.html.twig' %}
{% block title %}Template de PNJ {{ nonPlayableCharacterTemplate.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>{{ nonPlayableCharacterTemplate.name }}</h2>

    <ul>
        <li>Classe : {{ nonPlayableCharacterTemplate.characterClass.name }}</li>
        <li>Espece : {{ nonPlayableCharacterTemplate.kind.name }}</li>
        <li>Points de vie : min : {{ nonPlayableCharacterTemplate.minHealthPoints }} - max : {{ nonPlayableCharacterTemplate.maxHealthPoints }}</li>
        <li>Points d'action : min : {{ nonPlayableCharacterTemplate.minActionPoints }} - max : {{ nonPlayableCharacterTemplate.maxActionPoints }}</li>
        <li>Points de fatigue : min : {{ nonPlayableCharacterTemplate.minExhaustPoints }} - max : {{ nonPlayableCharacterTemplate.maxExhaustPoints }}</li>
        <li>Points de Mana : min : {{ nonPlayableCharacterTemplate.minManaPoints }} - max : {{ nonPlayableCharacterTemplate.maxManaPoints }}</li>
    </ul>
    <div>
        Compétences :

        {% if nonPlayableCharacterTemplate.skills|length == 0 %}
            -
        {% else %}
            <ul>
                {% for skill in nonPlayableCharacterTemplate.skills %}
                    <li>{{ skill.name }}, {{ skill.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        Objets :

        {% if nonPlayableCharacterTemplate.items|length == 0 %}
            -
        {% else %}
            <ul>
                {% for item in nonPlayableCharacterTemplate.items %}
                    <li>{{ item.name }}, {{ item.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        Sorts :

        {% if nonPlayableCharacterTemplate.spells|length == 0 %}
        -
        {% else %}
        <ul>
            {% for spell in nonPlayableCharacterTemplate.spells %}
                <li>{{ spell.name }}, {{ spell.manaCost }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}