{% extends 'base.html.twig' %}
{% block title %}Objet {{ item.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>Objet {{ item.name }}</h2>

    <ul>
        <li>Name : {{ item.name }}</li>
        <li>Valeur : {{ item.value }}</li>
        <li>Description : {{ item.description }}</li>
        <li>Poid : {{ item.weight }}</li>
        <li>Notes: {{ item.note }}</li>
    </ul>
{% endblock %}