{% extends 'base.html.twig' %}
{% block title %}Liste des sorts{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>liste des sorts</h2>

    <ul>
        {% for spell in spells %}
            <li>{{ spell.name }}, {{ spell.description }}
                <a href="{{ path('encyclopedia_show_spell', {'id': spell.id}) }}"> >>> </a>
{#                <a href="{{ path('encyclopedia_edit_spell', {'id': spell.id}) }}"> +++ </a>#}
                <a href="{{ path('encyclopedia_delete_spell', {'id': spell.id}) }}"> xxx </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}