{% extends 'base.html.twig' %}
{% block title %}Sort {{ spell.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>Sort {{ spell.name }}</h2>

    <ul>
        <li>Name : {{ spell.name }}</li>
        <li>Description : {{ spell.description }}</li>
        <li>Mana Cost : {{ spell.manaCost }}</li>
    </ul>
{% endblock %}