{% extends '/base.html.twig' %}
{% block title %}Créer une nouvelle partie{% endblock %}

{% block main %}
    <h2>Création d'une nouvelle partie</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.submit, { 'label': 'Créer' }) }}
    {{ form_end(form) }}

{% endblock %}