{% extends 'base.html.twig' %}
{% block title %}Partie {{ game.name }}{% endblock %}

{% block main %}
    <main class="p-12 flex flex-col bg-emerald-100 gap-8">
        <h1 class="text-3xl self-center text-center">Partie {{ game.name }}</h1>

        <twig:Molecule:CharacterBlock
            game="{{ game }}"
        />

        <twig:Molecule:NonPlayableCharacterBlock
            game="{{ game }}"
        />

        <twig:Molecule:MonsterBlock
            game="{{ game }}"
        />

        <twig:Molecule:ArmamentBlock
            game="{{ game }}"
        />

        <twig:Button
            tag="a"
            href="{{ path('show_encyclopedia') }}"
            class="w-52 justify-self-right"
        >
            Go to the Encyclopedia
        </twig:Button>
    </main>
{% endblock %}