{% extends 'base.html.twig' %}
{% block title %}Partie {{ game.name }}{% endblock %}

{% block main %}
    <main class="p-12 flex flex-col bg-emerald-100 gap-8">
        <h1 class="text-3xl self-center text-center">Partie {{ game.name }}</h1>


        <twig:Molecule:CharacterBlock
            game="{{ game }}"
        />

        <twig:Molecule:NonPlayableCharacterBlock
            game="{{ game }}"
        />

        <twig:Molecule:MonsterBlock
            game="{{ game }}"
        />

        <twig:Molecule:ArmamentBlock
            game="{{ game }}"
        />

        <twig:Modal
            :closeButton="true"
            :fixedTop="true"
            id="delete-game-modal"
        >
            <twig:block name="trigger">
                <twig:Button
                    variant="danger"
                    type="button"
                    data-action="modal#open"
                >
                    Delete the Game
                </twig:Button>
            </twig:block>

            <twig:block name="content">
                <p class="">
                    Are you sure that you want to delete this game ?
                    Remember, all the Characters, NPCs, Armaments and Monsters created in this game will be deleted.

                    All the Templates, the Items, the Spells and the skills will remains.

                    If you're sure about continuing, please enter the name of the game to continue (case Sensitive): <b class="font-bold">{{ game.name }}</b>
                </p>

                <form
                    method='POST'
                    data-turbo="false"
                    action="{{ path('delete_game', {'id' : game.id}) }}"
                >
                    <label>
                        Name of the game:

                        <input
                            type="text"
                            placeholder="Name of the game"
                            name="gameNameConfirmation"
                        />
                        <twig:Button
                            variant="danger"
                            type="submit"
                        >
                            Confirm Delete
                        </twig:Button>
                    </label>
                </form>
            </twig:block>
        </twig:Modal>

        <twig:Button
                href="{{ path('show_encyclopedia') }}"
                class="w-52 justify-self-right"
        >
            Go to the Encyclopedia
        </twig:Button>


        <p>Notes: {{ game.note }}</p>
    </main>
{% endblock %}