{% extends 'base.html.twig' %}
{% block title %}Créer un template de PNJ {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Créer un template de PNJ</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.submit, { 'label': 'Créer' }) }}
    {{ form_end(form) }}

{% endblock %}