{% extends 'base.html.twig' %}
{% block title %}Créer une compétence {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Création d'une compétence</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.submit, { 'label': 'Générer' }) }}
    {{ form_end(form) }}

{% endblock %}