{% extends 'base.html.twig' %}
{% block title %}Créer un Equipement {% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Back</a>
    <h2>Création d'un Equipement</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.valueMin) }}
    {{ form_row(form.valueMax) }}
    {{ form_row(form.durabilityMin) }}
    {{ form_row(form.durabilityMax) }}
    {{ form_row(form.description) }}
    {{ form_row(form.skills) }}
    {{ form_row(form.spells) }}

    {{ form_row(form.submit, { 'label': 'Créer' }) }}
    {{ form_end(form) }}

{% endblock %}