{% extends 'base.html.twig' %}
{% block title %}Créer un Equipement {% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Back</a>
    <h2>Création d'un Equipement</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.submit, { 'label': 'Créer' }) }}
    {{ form_end(form) }}

{% endblock %}