{% extends 'base.html.twig' %}
{% block title %}PNJ {{ characterTemplate.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>{{ characterTemplate.name }}</h2>

    <ul>
        <li>Name : {{ characterTemplate.name }}</li>
    </ul>
    <div>
        Compétences :
        <ul>
            {% for skill in characterTemplate.skills %}
                <li>{{ skill.name }}, {{ skill.description }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        Sorts :
        <ul>
            {% for spell in characterTemplate.spells %}
                <li>{{ spell.name }}, {{ spell.manaCost }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}