{% extends 'base.html.twig' %}
{% block title %}Encyclopedie{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Voici l'encyclopédie</h2>

    <div>
        <h4>Consulter les Sorts:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for spell in lastSpells %}
                    <li>{{ spell.name }}, {{ spell.description }}, {{ spell.manaCost }} - <a href="{{ path('encyclopedia_show_spell', {'id': spell.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher tous les sorts <a href="{{ path('encyclopedia_show_spells') }}"> >>> </a> <br />
        Ajouter un nouveau sort <a href="{{ path('encyclopedia_create_spell') }}"> +++ </a>
    </div>
    <hr class="h-px my-8 w-72 mx-auto bg-gray-200 border-0 dark:bg-gray-700">
    <div>
        <h4>Consulter les Objets:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for item in lastItems %}
                    <li>{{ item.name }}, {{ item.description }} - <a href="{{ path('encyclopedia_show_item', {'id': item.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher tous les objets <a href="{{ path('encyclopedia_show_items') }}"> >>> </a> <br />
        Ajouter un nouvel objet <a href="{{ path('encyclopedia_create_item') }}"> +++ </a>
    </div>
    <hr class="h-px my-8 w-72 mx-auto bg-gray-200 border-0 dark:bg-gray-700">
    <div>
        <h4>Consulter les Skills:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for skill in lastSkills %}
                    <li>{{ skill.name }}, {{ skill.description }} - <a href="{{ path('encyclopedia_show_skill', {'id': skill.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher toutes les compétences <a href="{{ path('encyclopedia_show_skills') }}"> >>> </a> <br />
        Ajouter une nouvelle compétence <a href="{{ path('encyclopedia_create_skill') }}"> +++ </a>
    </div>
    <hr class="h-px my-8 w-72 mx-auto bg-gray-200 border-0 dark:bg-gray-700">
    <div>
        <h4>Consulter les templates d'équipements:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for armamentTemplate in lastArmamentTemplates %}
                    <li>{{ armamentTemplate.name }}, {{ armamentTemplate.description }} - <a href="{{ path('encyclopedia_show_armament_template', {'id': armamentTemplate.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher toutes les templates d'équipements <a href="{{ path('encyclopedia_show_armament_templates') }}"> >>> </a> <br />
        Ajouter un nouveau template d'équipement <a href="{{ path('encyclopedia_create_armament_template') }}"> +++ </a>
    </div>
    <hr class="h-px my-8 w-72 mx-auto bg-gray-200 border-0 dark:bg-gray-700">
    <div>
        <h4>Consulter les templates de monstres:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for monsterTemplate in lastMonsterTemplates %}
                    <li>{{ monsterTemplate.kind }} - <a href="{{ path('encyclopedia_show_monster_template', {'id': monsterTemplate.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher toutes les templates de monstres <a href="{{ path('encyclopedia_show_monster_templates') }}"> >>> </a> <br />
        Ajouter un nouveau template de monstre <a href="{{ path('encyclopedia_create_monster_template') }}"> +++ </a>
    </div>
    <hr class="h-px my-8 w-72 mx-auto bg-gray-200 border-0 dark:bg-gray-700">
    <div>
        <h4>Consulter les templates de PNJ:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for nonPlayableCharacterTemplate in lastNonPlayableCharacterTemplates %}
                    <li>{{ nonPlayableCharacterTemplate.kind }} - <a href="{{ path('encyclopedia_show_non_playable_character_template', {'id': nonPlayableCharacterTemplate.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher toutes les templates de PNJ <a href="{{ path('encyclopedia_show_non_playable_character_templates') }}"> >>> </a> <br />
        Ajouter un nouveau template de PNJ <a href="{{ path('encyclopedia_create_non_playable_character_template') }}"> +++ </a>
    </div>
    <hr class="h-px my-8 w-72 mx-auto bg-gray-200 border-0 dark:bg-gray-700">
    <div>
        <h4>Consulter les templates de Personnage:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for characterTemplate in lastCharacterTemplates %}
                    <li>{{ characterTemplate.kind }} - <a href="{{ path('encyclopedia_show_character_template', {'id': characterTemplate.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher toutes les templates de Personnage <a href="{{ path('encyclopedia_show_character_templates') }}"> >>> </a> <br />
        Ajouter un nouveau template de Personnage <a href="{{ path('encyclopedia_create_character_template') }}"> +++ </a>
    </div>

{% endblock %}