{% extends 'base.html.twig' %}
{% block title %}PNJ {{ characterTemplate.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>{{ characterTemplate.name }}</h2>

    <ul>
        <li>Name : {{ characterTemplate.name }}</li>
    </ul>
    <div>
        Compétences :

        {% if characterTemplate.skills|length == 0 %}
            -
        {% else %}
            <ul>
                {% for skill in characterTemplate.skills %}
                    <li>{{ skill.name }}, {{ skill.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        Sorts :

        {% if characterTemplate.spells|length == 0 %}
            -
        {% else %}
        <ul>
            {% for spell in characterTemplate.spells %}
                <li>{{ spell.name }}, {{ spell.manaCost }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}