{% extends 'base.html.twig' %}
{% block title %}PNJ {{ nonPlayableCharacterTemplate.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>{{ nonPlayableCharacterTemplate.name }}</h2>

    <ul>
        <li>Name : {{ nonPlayableCharacterTemplate.name }}</li>
    </ul>
    <div>
        Compétences :

        {% if nonPlayableCharacterTemplate.skills|length == 0 %}
        -
        {% else %}
        <ul>
            {% for skill in nonPlayableCharacterTemplate.skills %}
                <li>{{ skill.name }}, {{ skill.description }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        Sorts :

        {% if nonPlayableCharacterTemplate.spells|length == 0 %}
        -
        {% else %}
        <ul>
            {% for spell in nonPlayableCharacterTemplate.spells %}
                <li>{{ spell.name }}, {{ spell.manaCost }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}