{% extends 'base.html.twig' %}
{% block title %}Encyclopedie{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Voici l'encyclopédie</h2>

    <div>
        <h4>Consulter les Sorts:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for spell in lastSpells %}
                    <li>{{ spell.name }}, {{ spell.description }}, {{ spell.manaCost }} - <a href="{{ path('encyclopedia_show_spell', {'id': spell.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher tous les sorts <a href="{{ path('encyclopedia_show_spells') }}"> >>> </a> <br />
        Ajouter un nouveau sort <a href="{{ path('encyclopedia_create_spell') }}"> >>> </a>
    </div>
    <div>
        <h4>Consulter les Objets:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for item in lastItems %}
                    <li>{{ item.name }}, {{ item.description }} - <a href="{{ path('encyclopedia_show_item', {'id': item.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher tous les objets <a href="{{ path('encyclopedia_show_items') }}"> >>> </a> <br />
        Ajouter un nouvel objet <a href="{{ path('encyclopedia_create_item') }}"> >>> </a>
    </div>
    <div>
        <h4>Consulter les Skills:</h4>
        <div>
            Les 5 derniers:
            <ul>
                {% for skill in lastSkills %}
                    <li>{{ skill.name }}, {{ skill.description }} - <a href="{{ path('encyclopedia_show_skill', {'id': skill.id}) }}"> more >>> </a></li>
                {% endfor %}
            </ul>
        </div>
        Afficher toutes les compétences <a href="{{ path('encyclopedia_show_skills') }}"> >>> </a> <br />
        Ajouter une nouvelle compétence <a href="{{ path('encyclopedia_create_skill') }}"> >>> </a>
    </div>

{% endblock %}