{% extends 'base.html.twig' %}
{% block title %}Monstre {{ monsterTemplate.family }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>Monstre {{ monsterTemplate.family }}</h2>

    <ul>
        <li>Famille : {{ monsterTemplate.family }}</li>
    </ul>
    <div>
        Compétences :

        {% if monsterTemplate.skills|length == 0 %}
        -
        {% else %}
        <ul>
            {% for skill in monsterTemplate.skills %}
                <li>{{ skill.name }}, {{ skill.description }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        Sorts :

        {% if monsterTemplate.spells|length == 0 %}
            -
        {% else %}
        <ul>
            {% for spell in monsterTemplate.spells %}
                <li>{{ spell.name }}, {{ spell.manaCost }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}