{% extends 'base.html.twig' %}
{% block title %}Liste des Compétences{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>Liste des Compétences</h2>

    <ul>
        {% for skill in skills %}
            <li>{{ skill.name }}, {{ skill.description }}, {{ skill.manaCost }}
                <a href="{{ path('encyclopedia_show_skill', {'id': skill.id}) }}"> >>> </a>
                {#                <a href="{{ path('encyclopedia_edit_skill', {'id': skill.id}) }}"> +++ </a>#}
                <a href="{{ path('encyclopedia_delete_skill', {'id': skill.id}) }}"> xxx </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}