{% extends 'base.html.twig' %}
{% block title %}Template de Personnage {{ characterTemplate.name }}{% endblock %}

{% block main %}
    <a href="{{ path('show_encyclopedia') }}">Retour</a>
    <h2>{{ characterTemplate.name }}</h2>

    <ul>
        <li>Classe : {{ characterTemplate.characterClass.name }}</li>
        <li>Espece : {{ characterTemplate.kind.name }}</li>
        <li>Points de vie : min : {{ characterTemplate.minHealthPoints }} - max : {{ characterTemplate.maxHealthPoints }}</li>
        <li>Points d'action : min : {{ characterTemplate.minActionPoints }} - max : {{ characterTemplate.maxActionPoints }}</li>
        <li>Points de fatigue : min : {{ characterTemplate.minExhaustPoints }} - max : {{ characterTemplate.maxExhaustPoints }}</li>
        <li>Points de Mana : min : {{ characterTemplate.minManaPoints }} - max : {{ characterTemplate.maxManaPoints }}</li>
        <li>Strength : min : {{ characterTemplate.minStrength }} - max : {{ characterTemplate.maxStrength }}</li>
        <li>Intelligence : min : {{ characterTemplate.minIntelligence }} - max : {{ characterTemplate.maxIntelligence }}</li>
        <li>Stamina : min : {{ characterTemplate.minStamina }} - max : {{ characterTemplate.maxStamina }}</li>
        <li>Agility : min : {{ characterTemplate.minAgility }} - max : {{ characterTemplate.maxAgility }}</li>
        <li>Charisma : min : {{ characterTemplate.minCharisma }} - max : {{ characterTemplate.maxCharisma }}</li>
    </ul>
    <div>
        Compétences :

        {% if characterTemplate.skills|length == 0 %}
            -
        {% else %}
            <ul>
                {% for skill in characterTemplate.skills %}
                    <li>{{ skill.name }}, {{ skill.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        Objets :

        {% if characterTemplate.items|length == 0 %}
            -
        {% else %}
            <ul>
                {% for item in characterTemplate.items %}
                    <li>{{ item.name }}, {{ item.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        Sorts :

        {% if characterTemplate.spells|length == 0 %}
            -
        {% else %}
        <ul>
            {% for spell in characterTemplate.spells %}
                <li>{{ spell.name }}, {{ spell.manaCost }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}