{% extends 'base.html.twig' %}
{% block title %}Créer un Equipement {% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Back</a>
    <h2>Génération d'un Equipement</h2>
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.type) }}
    {{ form_row(form.value) }}
    {{ form_row(form.durability) }}
    {{ form_row(form.description) }}
    {{ form_row(form.skills) }}
    {{ form_row(form.spells) }}

    {{ form_row(form.submit, { 'label': 'Générer' }) }}
    {{ form_end(form) }}


{% endblock %}