{% extends 'base.html.twig' %}
{% block title %}Partie {{ game.name }}{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Retour</a>
    <h2>Partie {{ game.name }}</h2>

    <ul>
        <li>Nom : {{ game.name }}</li>
        <li>Règles de jeu : {{ game.ruleset }}</li>
    </ul>
    <div>
        Les Personnages Joueurs :
            <ul>
                {% for character in game.characters %}
                    <li>{{ character.name }} {{ character.lastName }}, {{ character.title }}
                        <a href="{{ path('game_master_show_character', {'id': character.id}) }}"> >>> </a>
                        <a href="{{ path('game_master_edit_character', {'characterId': character.id, 'gameId': game.id}) }}"> +++ </a>
                        <a href="{{ path('game_master_delete_characters', {'id': character.id}) }}"> XXX </a>
                    </li>
                {% endfor %}
            </ul>
        Ajouter un nouveau personnage <a href="{{ path('game_master_generate_default_character', {'id': game.id}) }}"> >>> </a>
    </div>
{% endblock %}