{% extends 'base.html.twig' %}
{% block title %}Partie {{ game.name }}{% endblock %}

{% block main %}
    <a href="{{ path('home') }}">Retour</a>
    <h2>Partie {{ game.name }}</h2>

    <ul>
        <li>Nom : {{ game.name }}</li>
        <li>Règles de jeu : {{ game.ruleset }}</li>
    </ul>
    <div>
        Les Personnages Joueurs :
            <ul>
                {% for playableCharacter in game.playableCharacters %}
                    <li>{{ playableCharacter.name }} {{ playableCharacter.lastName }}, {{ playableCharacter.title }}
                        <a href="{{ path('game_master_show_playable_character', {'id': playableCharacter.id}) }}"> >>> </a>
                        <a href="{{ path('game_master_edit_playable_character', {'playableCharacterId': playableCharacter.id, 'gameId': game.id}) }}"> +++ </a>
                        <a href="{{ path('game_master_delete_playable_characters', {'id': playableCharacter.id}) }}"> XXX </a>
                    </li>
                {% endfor %}
            </ul>
        Ajouter un nouveau personnage <a href="{{ path('game_master_generate_default_playable_character', {'id': game.id}) }}"> >>> </a>
    </div>
{% endblock %}