<div {{ attributes }}>
    <p class="">
        Select the Armament Template you want to use:
    </p>
    <div class="relative">
        <div class="inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/><path d="M21 21l-6 -6"/></svg>
        </div>
        <input
            type="search"
            data-model="query"
            aria-label="Search site"
            placeholder="Search for anything"
            class="px-4 py-2 pl-10 rounded bg-gray-800 text-white placeholder-gray-400 w-full outline-none"
        />
    </div>
    <form
        method='POST'
        data-turbo="false"
    >
        {% if this.armamentTemplates is not empty %}
            {% for armamentTemplate in this.armamentTemplates %}
                <twig:Button
                    variant="link"
                    name="armamentTemplateId"
                    value="{{ armamentTemplate.id }}"
                    formaction="{{ path('generate_armament') }}"
                >
                    {{ armamentTemplate.name }}
                </twig:Button>
            {% endfor %}
        {% else %}
            Nothing to see here
        {% endif %}
        <hr/>
        <div>
            Click here to go without Template:
            <twig:Button
                variant="link"
                formaction="{{ path('generate_armament') }}"
            >
                Don't use template
            </twig:Button>
        </div>
    </form>
</div>