<nav class="flex items-center justify-between mb-4">
    <div class="flex items-center">
        <a href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" width="50" alt="RPG app Logo" >
        </a>
        <a href="{{ path('home') }}" class="text-xl ml-3">Rpg-app</a>
        <a href="{{ path('show_encyclopedia') }}" class="ml-6 hover:text-gray-400" >Encyclopedia</a>
        <a href="{{ path('_logout_main') }}" class="ml-6 hover:text-gray-400" >Log Out</a>
    </div>
</nav>