{% extends 'base.html.twig' %}
{% block title %}Sign In{% endblock %}

{% block navbar %}{% endblock %}

{% block main %}
    <main class="m-auto bg-emerald-100">
        <h1 class="text-center text-3xl">Connexion</h1>
        {% if error %}
            <div>{{ error.messageKey | trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form
            action="{{ path('sign_in') }}"
            method="post"
            class="flex flex-col md:flex-row flex-wrap"
        >
            <div class="md:basis-1/3">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required />
            </div>

            <div class="md:basis-1/3">
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" required />
            </div>

            <twig:Button
                class="md:basis-1/3"
                type="submit"
            >
                Sign In
            </twig:Button>

            <div class="md:basis-full">
                <label>
                    <input type="checkbox" name="_remember_me" checked>
                    Keep me logged in
                </label>
            </div>
        </form>

        <div>
            No account yet ?
            <twig:Button
                tag="a"
                variant="link"
                href="{{ path('sign_up') }}"
            >
                Sign Up here
            </twig:Button>
        </div>
{#        <div>#}
{#            Forgot your password ? <a href="{{ path('app_forgot_password_request') }}"> Reset it here</a>#}
{#        </div>#}
    </main>
{% endblock %}